<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nkl.page.dao.IInfoDao">

	<insert id="addInfo" parameterType="Info">
		<![CDATA[
			insert into info
				values(null,#{info_title},#{info_content},#{info_admin},#{info_date},#{info_pic})
		]]>
	</insert>

	<delete id="delInfo" parameterType="int">
		<![CDATA[
			delete from info where info_id=#{info_id}
		]]>
	</delete>

	<delete id="delInfos" parameterType="int">
		<![CDATA[
			delete from info where info_id in 
		]]>
		<foreach collection="array" item="info_ids"  open="(" separator="," close=")">
			#{info_ids}
		</foreach>
	</delete>

	<update id="updateInfo" parameterType="Info">
		<![CDATA[
			UPDATE info
		]]>
		<set>
			<if test="info_title!=null and info_title!=''">
			<![CDATA[
				info_title = #{info_title},
			]]>
			</if>
			<if test="info_content!=null and info_content!=''">
			<![CDATA[
				info_content = #{info_content},
			]]>
			</if>
			<if test="info_content!=null and info_content!=''">
			<![CDATA[
				info_content = #{info_content},
			]]>
			</if>
			<if test="info_pic!=null and info_pic!=''">
			<![CDATA[
				info_pic = #{info_pic}
			]]>
			</if>
		</set>
		<![CDATA[
			where info_id = #{info_id}
		]]>
	</update>

	<select id="getInfo" parameterType="Info" resultType="Info">
		<![CDATA[
			SELECT * FROM info
		]]>
		<where>
			<if test="info_id!=0">
			<![CDATA[
				info_id = #{info_id}
			]]>
			</if>
		</where>
	</select>

	<select id="listInfos" parameterType="Info" resultType="Info">
		<![CDATA[
			SELECT * FROM (
			SELECT * FROM info
		]]>
		<where>
			<if test="info_id!=0">
			<![CDATA[
				info_id = #{info_id}
			]]>
			</if>
			<if test="info_title!=null and info_title!=''">
			<![CDATA[
				and info_title like '%${info_title}%'
			]]>
			</if>
		</where>
		<![CDATA[
			order by info_date desc,info_id asc) t
		]]>
		<if test="start!=-1">
		<![CDATA[
			Limit ${start},${limit}
		]]>
		</if>
	</select>

	<select id="listInfosCount" parameterType="Info" resultType="int">
		<![CDATA[
			SELECT count(*) FROM info
		]]>
		<where>
			<if test="info_id!=0">
			<![CDATA[
				info_id = #{info_id}
			]]>
			</if>
			<if test="info_title!=null and info_title!=''">
			<![CDATA[
				and info_title like '%${info_title}%'
			]]>
			</if>
		</where>
	</select>
	
	<select id="getInfoId" parameterType="User" resultType="int">
		<![CDATA[
			SELECT max(info_id) FROM info WHERE user_id = #{user_id}
		]]>
	</select>

</mapper>
