<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nkl.page.dao.ISblogDao">

	<insert id="addSblog" parameterType="Sblog">
		<![CDATA[
			insert into sblog
				values(null,#{film_id},#{user_id},#{sblog_score},#{sblog_content},#{sblog_date},#{sblog_pic})
		]]>
	</insert>

	<delete id="delSblog" parameterType="int">
		<![CDATA[
			delete from sblog where sblog_id=#{sblog_id}
		]]>
	</delete>

	<delete id="delSblogs" parameterType="int">
		<![CDATA[
			delete from sblog where sblog_id in 
		]]>
		<foreach collection="array" item="sblog_ids"  open="(" separator="," close=")">
			#{sblog_ids}
		</foreach>
	</delete>

	<update id="updateSblog" parameterType="Sblog">
		<![CDATA[
			UPDATE sblog
		]]>
		<set>
			<if test="sblog_score!=0">
			<![CDATA[
				sblog_score = #{sblog_score},
			]]>
			</if>
			<if test="sblog_content!=null and sblog_content!=''">
			<![CDATA[
				sblog_content = #{sblog_content}
			]]>
			</if>
		</set>
		<![CDATA[
			where sblog_id = #{sblog_id}
		]]>
	</update>

	<select id="getSblog" parameterType="Sblog" resultType="Sblog">
		<![CDATA[
			SELECT s.*,u.nick_name,u.real_name from sblog s
			  join user u on s.user_id = u.user_id 
		]]>
		<where>
			<if test="sblog_id!=0">
			<![CDATA[
				s.sblog_id = #{sblog_id}
			]]>
			</if>
		</where>
	</select>

	<select id="listSblogs" parameterType="Sblog" resultType="Sblog">
		<![CDATA[
			SELECT * FROM (
			SELECT s.*,u.nick_name,u.real_name,f.film_name from sblog s
			  join user u on s.user_id = u.user_id 
			  join film f on s.film_id = f.film_id 
		]]>
		<where>
			<if test="sblog_id!=0">
			<![CDATA[
				s.sblog_id = #{sblog_id}
			]]>
			</if>
			<if test="user_id!=0">
			<![CDATA[
				and s.user_id = #{user_id}
			]]>
			</if>
			<if test="film_id!=0">
			<![CDATA[
				and s.film_id = #{film_id}
			]]>
			</if>
			<if test="film_name!=null and film_name!=''">
			<![CDATA[
				and film_name like '%${film_name}%'
			]]>
			</if>
			<if test="real_name!=null and real_name!=''">
			<![CDATA[
				and u.real_name like '%${real_name}%'
			]]>
			</if>
			<if test="nick_name!=null and nick_name!=''">
			<![CDATA[
				and u.nick_name like '%${nick_name}%'
			]]>
			</if>
		</where>
		<![CDATA[
			order by s.sblog_date desc,s.sblog_id asc) t
		]]>
		<if test="start!=-1">
		<![CDATA[
			Limit ${start},${limit}
		]]>
		</if>
	</select>

	<select id="listSblogsCount" parameterType="Sblog" resultType="int">
		<![CDATA[
			SELECT count(*) from sblog s
			  join user u on s.user_id = u.user_id 
			  join film f on s.film_id = f.film_id 
		]]>
		<where>
			<if test="sblog_id!=0">
			<![CDATA[
				s.sblog_id = #{sblog_id}
			]]>
			</if>
			<if test="user_id!=0">
			<![CDATA[
				and s.user_id = #{user_id}
			]]>
			</if>
			<if test="film_id!=0">
			<![CDATA[
				and s.film_id = #{film_id}
			]]>
			</if>
			<if test="film_name!=null and film_name!=''">
			<![CDATA[
				and film_name like '%${film_name}%'
			]]>
			</if>
			<if test="real_name!=null and real_name!=''">
			<![CDATA[
				and u.real_name like '%${real_name}%'
			]]>
			</if>
			<if test="nick_name!=null and nick_name!=''">
			<![CDATA[
				and u.nick_name like '%${nick_name}%'
			]]>
			</if>
		</where>
	</select>

</mapper>
